In [1]:
import datetime

import pandas as pd
import geopandas as gpd

import plotly.express as px

px.set_mapbox_access_token("pk.eyJ1IjoiamdhY29zdGFzIiwiYSI6ImNsYWJwd3g1ZDAwaGUzb3Q0ZG04NDNndGgifQ.brk6kVA6biVSH0ovZ1dreA")

In [2]:
df_data = pd.read_csv('../data/comed_month/comed_202002.csv')
df_data['date_time'] = pd.to_datetime(df_data.date_time)
df_data = df_data[df_data.service_name.str.contains('RESIDENTIAL')]
df_data = df_data.groupby(['zip5', 'date_time']).energy.sum().reset_index()

day = 19
df_data = df_data[(df_data.date_time.dt.day==day)].copy()

gdf_zc = gpd.read_file('../data/geo/Chicago_ZC.geojson')
gdf_zc['GEOID20'] = gdf_zc['GEOID20'].astype(int)

gdf_data = pd.merge(gdf_zc, df_data, left_on='GEOID20', right_on='zip5')

In [ ]:
hour = 19
minute = 0

#gdf_plot = gdf_data[(gdf_data.date_time.dt.hour==hour) & (gdf_data.date_time.dt.minute==minute)].copy().set_index('GEOID20')
gdf_plot = gdf_data.copy().sort_values('date_time')#.set_index('GEOID20')
#gdf_plot = gdf_data[(gdf_data.date_time.dt.hour>=12) & (gdf_data.date_time.dt.hour<=20)].copy().sort_values('date_time')

gdf_plot['time'] = gdf_plot['date_time'].dt.time

df_max_en = gdf_plot.groupby('zip5').energy.max().reset_index().rename(columns={'energy': 'max_energy'})

gdf_plot = pd.merge(gdf_plot, df_max_en, on='zip5')

gdf_plot['energy_norm'] = gdf_plot.energy / gdf_plot.max_energy

In [ ]:
fig = px.choropleth_mapbox(gdf_plot,
                   geojson=gdf_zc,
                   featureidkey='properties.GEOID20',
                   color="energy_norm",
                   locations='GEOID20',
                   width=1000,
                   height=700,
                   center={'lat':41.6, 'lon':-88.99},
                   zoom=6,
                   range_color=(0, 1),
                   mapbox_style='carto-positron',
                   animation_frame='time',
                   opacity=0.65,
                   )
fig.update_geos(fitbounds="locations", visible=False)
#fig.show()
fig.write_html('20180131_animation.html')

In [ ]:
gdf_places = gpd.read_file('data/census_places/tl_2019_17_place.shp')

In [5]:
df_data = pd.read_csv('../data/comed_month/comed_202002.csv')
df_data['date_time'] = pd.to_datetime(df_data.date_time)
#df_data = df_data[df_data.service_name.str.contains('RESIDENTIAL')]
#df_data = df_data.groupby(['zip5', 'date_time']).energy.sum().reset_index()

day = 19
hour = 19
minute = 0
df_data = df_data[(df_data.date_time.dt.day==day)].copy()

In [12]:
df_data

,zip5,n_acc,service_name,date_time,energy
126,60002,191,COM KWH ONLY,2020-02-19 00:30:00,33.250300
127,60002,36,MED (100 - 400),2020-02-19 00:30:00,813.934200
128,60002,488,RESIDENTIAL MULTI,2020-02-19 00:30:00,101.428400
129,60002,539,RESIDENTIAL MULTI (SPACE HEAT),2020-02-19 00:30:00,370.519600
130,60002,9249,RESIDENTIAL SINGLE,2020-02-19 00:30:00,4045.723163
...,...,...,...,...,...
3638529,61764,169,RESIDENTIAL SINGLE (SPACE HEAT),2020-02-19 00:00:00,299.798100
3638530,61764,569,SMALL (0 - 100),2020-02-19 00:00:00,1021.961100
3638655,61769,197,RESIDENTIAL SINGLE,2020-02-19 00:00:00,140.301900
3638656,61769,33,RESIDENTIAL SINGLE (SPACE HEAT),2020-02-19 00:00:00,63.942000
3638657,61769,27,SMALL (0 - 100),2020-02-19 00:00:00,16.487600

In [11]:
df_data.groupby('service_name').n_acc.sum()

service_name
000)                                   16752
COM KWH ONLY                         2793936
DUSK TO DAWN                           22464
LARGE (400 - 1000)                    111168
MED (100 - 400)                       699936
RESIDENTIAL MULTI                   55980192
RESIDENTIAL MULTI (SPACE HEAT)       7965360
RESIDENTIAL SINGLE                 108768672
RESIDENTIAL SINGLE (SPACE HEAT)      1609728
SMALL (0 - 100)                     12703296
Name: n_acc, dtype: int64

In [ ]:
df_data = pd.read_csv('../data/comed_month/comed_202002.csv')
df_data['date_time'] = pd.to_datetime(df_data.date_time)
df_data = df_data[df_data.service_name.str.contains('RESIDENTIAL')]
df_data = df_data.groupby(['zip5', 'date_time']).energy.sum().reset_index()

day = 19
hour = 19
minute = 0
df_data = df_data[(df_data.date_time.dt.day==day)].copy()

gdf_zc = gpd.read_file('../data/geo/Chicago_ZC.geojson')
gdf_zc['GEOID20'] = gdf_zc['GEOID20'].astype(int)

gdf_data = pd.merge(gdf_zc, df_data, left_on='GEOID20', right_on='zip5')

gdf_places = gdf_data[(gdf_data.date_time.dt.hour==hour) & (gdf_data.date_time.dt.minute==minute)]

In [ ]:
gdf_places

In [ ]:
fig = px.choropleth_mapbox(gdf_places,
                   geojson=gdf_places,
                   featureidkey='properties.GEOID20',
                   color="energy",
                   locations='GEOID20',
                   width=1000,
                   height=700,
                   center={'lat':41.6, 'lon':-88.99},
                   zoom=6,
                   #range_color=(0, 1),
                   mapbox_style='carto-positron',
                   opacity=0.65,
                   )
fig.update_geos(fitbounds="locations", visible=False)
#fig.show()