In [2]:
import pandas as pd

In [3]:
df_house = pd.read_csv('../data/cmap/travel_data/household.csv')
df_person = pd.read_csv('../data/cmap/travel_data/person.csv', low_memory=False)
df_place = pd.read_csv('../data/cmap/travel_data/place.csv', low_memory=False, parse_dates=['arrtime', 'deptime'])

In [12]:
df_place[df_place.arrtime.dt.month.isin([1,2,3])]

,sampno,perno,traveldayno,placeno,locno,arrtime,deptime,travtime,actdur,distance,...,plaza_2_cash,plaza_3_cash,plaza_4_cash,plaza_5_cash,plaza_6_cash,placeGroup,transitPlaceno,hdist,Loop_Trip_definition,time_distance_flag
105,20001619,1,1,1,10000,2018-01-15 03:00:00,2018-01-15 08:50:00,0,350,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,1,-9,-1.000,0,0
106,20001619,1,1,2,20003,2018-01-15 09:00:00,2018-01-15 09:15:00,10,15,0.274,...,-1.0,-1.0,-1.0,-1.0,-1.0,2,-9,0.261,0,0
107,20001619,1,1,3,10000,2018-01-15 09:17:00,2018-01-15 14:55:00,2,338,0.274,...,-1.0,-1.0,-1.0,-1.0,-1.0,3,-9,0.261,0,0
108,20001619,1,1,4,20003,2018-01-15 14:58:00,2018-01-15 15:15:00,3,17,0.274,...,-1.0,-1.0,-1.0,-1.0,-1.0,4,-9,0.261,0,0
109,20001619,1,1,5,10000,2018-01-15 15:47:00,2018-01-15 19:02:00,32,195,0.274,...,-1.0,-1.0,-1.0,-1.0,-1.0,5,-9,0.261,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128152,70100914,1,1,4,10000,2019-03-22 15:50:00,2019-03-23 03:00:00,10,670,1.243,...,-1.0,-1.0,-1.0,-1.0,-1.0,4,4,0.959,0,0
128153,70100914,2,1,1,10000,2019-03-22 03:00:00,2019-03-22 09:40:00,0,400,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,1,-9,-1.000,0,0
128154,70100914,2,1,2,20002,2019-03-22 10:30:00,2019-03-22 15:00:00,50,270,10.264,...,-1.0,-1.0,-1.0,-1.0,-1.0,2,2,6.577,0,0
128155,70100914,2,1,3,10000,2019-03-22 16:30:00,2019-03-23 03:00:00,90,630,8.786,...,-1.0,-1.0,-1.0,-1.0,-1.0,3,3,6.577,0,0
128156,70100914,3,1,1,10000,2019-03-22 03:00:00,2019-03-23 03:00:00,0,1440,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,1,-9,-1.000,0,0